.cover-drawer{
    width:100%;
    height: 300px;
    object-fit:cover;
    position: relative;
    z-index: 0;
}
.Body{
    background-color: #061833;
    position: relative;
}
.square-profile-drawer{
    width: 160px;
    height: 160px;
    object-fit: cover;
    position: absolute;
    display: block;
    left: 39% !important ;
    top: 13rem;
    border: 8px solid #061833;
}
.circle-profile-drawer{
    width: 160px;
    height: 160px;
    object-fit: cover;
    position: absolute;
    display: block;
    left: 39% !important ;
    border-radius: 100%;
    top: 13rem;
    border: 8px solid #061833;
}


.text-drawer{
    border: none;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    text-align: center;
    color: #a59cb6 !important ;
}
.title-drawer{
    flex: 0 0 auto;
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 5px;
    padding-top:48px ;
    padding-left: 21px;
    overflow: hidden;
    overflow-wrap: break-word;
    text-align: center;
    text-overflow: ellipsis;
    width: 97%;
    color: inherit;
}
.description-drawer{
    border: none;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding-left: 18px;
    vertical-align: baseline;
    color: inherit;
}
.posts-drawer{
    margin-top: 100px;
    text-align: center;
    color: inherit;
}