button[data-direction=right] {
    background: url(https://cdn.dsmcdn.com/web/production/slick-arrow.svg) 50% no-repeat;
    border: none;
    cursor: pointer;
    height: 80px;
    outline: 0;
    position: relative;
    top: 80px;
}


button[data-direction=left] {
    background: url(https://cdn.dsmcdn.com/web/production/slick-arrow.svg) 50% no-repeat;
    border: none;
    cursor: pointer;
    height: 80px;
    outline: 0;
    position: relative;
    top: 80px;
    transform: rotate(180deg);
}