
.NoteText{word-wrap: break-word;
    cursor: text;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 400;
    -webkit-hyphens: auto;
    hyphens: auto;
    line-height: 1.5;
    margin-bottom: 0;
    margin-top: 8px;
    overflow-wrap: break-word;
    white-space: pre-line;
}