.NewsFeed h1{
}
h1 {
  color: black;
}
.FOqaP{
  background-color: white;
    border: none;
    height: 100px!important;
    width: 69px!important;
    cursor: pointer;
    text-align: center!important;
}
.FP:hover {
  /*  Making button bigger on hover  */
    transform: scale(1.2) perspective(0.5px)!important
  }

.right{
  display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 325px;
}

.side{
  margin-bottom: 38px;
  width: 100%;
}
