.row_L {
    display: flex;
    flex-wrap: wrap;
    padding: 4px 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column_L {
    flex: 25%;
    max-width: 22%;
    margin-left: 2.5%;
    
  }
  
  .column_L Box {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  .loading-L{
    margin-left: 43%;
  }
  @media screen and (max-width: 1050px) {
    .column_L {
      flex: 30%;
      max-width: 30%;
      margin-left: 2%;
    }
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 950px) {
    .column_L {
      flex: 50%;
      max-width: 44%;
      margin-left: 3%;
      margin-right: 3%;
    }
  }

  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 650px) {
    .column_L {
      flex: 100%;
      max-width: 100%;
    }
  }