.top-bar-icons{
    background-color: transparent;
    border: none;
    margin: '5px';
    cursor: pointer;;

}
.top-bar{
    background-color: #0f0225;
    padding: 8px;
    display: flex;
    height: 27px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: '#ffff',
}
.chat-buttons{
    width: 29%;
}
.chat-participant{
    width: 71%;
    color: white;
}
.minimize-icon{
    transform: rotate(225deg);
}
