@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.top-bar-icons{
    background-color: transparent;
    border: none;
    margin: '10px';
    cursor: pointer;
}
.top-bar1{
    background-image: url(https://64.media.tumblr.com/b56687c2fab90f9cdc53a24117cdc8ec/83fd8582a92f89fa-38/s500x350/2bfd7495b4c0ca20e1257df663d9051cb0ac95f2.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover
    display: flex;
    height: 38px !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #ffff;
    padding: 0 !important;
}
.chat-buttons{
    width: 30%;
    margin: 10px 0.5px;
    display: flex;
}
.chat-participant{
    width: 75% !important;
    color: white;
    margin: 5px 0 0 10px;
    overflow-x: hidden;
}
.minimize-icon{
    transform: rotate(225deg);
}
.par-name{
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
}
