.dd-wrapper{
    width:90%;
}
.dd-list{
    display: block;
    width: 200px;
    background-color: rgb(250, 248, 248);
    margin-left: 10px;
}
.dd-list-item{
    display: block;
    height: 30px;
    width: 100%;

}
.dd-list-item:hover {
    background-color: rgb(138, 138, 136);
  }