.nav{
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: end;
  box-sizing: border-box;
  height: 50px;
  padding: 10px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  /* background-color: black; */
}
.btn{
  margin-left: 14px;
  align-items: center;
  border-radius:4px;
  display: flex;
  font-size: .875rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.5;
  min-width: 57.5px;
  padding: 4px 7px 5px;
  cursor: pointer;
  border: none;
} 
.icons{
  cursor: pointer;
  margin: 0;
  padding:0 15px 0 0;
  border:none;
}
