.list-item{
    width: 100%;
    justify-content: flex-start !important ;
}

.chat-par-name {
    line-height: 21px;
}
.Nevermind{
    color: '#778899';
    background-color: transparent;
                  border: none;
                  cursor: pointer;
                  font-size: .78125rem;
                  fontWeight: 700;
                  marginLeft: 10px;
                  textAlign:right;

}
.NewMessage{
  color: '#00bfff' ;
}