.list-item{
    width: 100%;
    justify-content: flex-start !important ;
}

.chat-par-name {
    line-height: 21px;
}
.Nevermind{
    color: '#778899','#00bfff' : '#778899'

}
.NewMessage{
  color: ;
}